多行多行整數資料讀入<p>
data3.txt 中存放這 5 列整數資料，將其讀到串列 L3 中。以唯讀方式打開 data3.txt

In [1]:
f = open('data3.txt')
a = f.read() # 完整讀取 txt 檔
print(a)

679	69	191	510	73	815	182	583	96
153	450	109	107	443	371	140	136	242
206	236	378	993	802	131	428	94	169
572	201	687	30	53	519	58	247	891
727	934	441	518	94	942	587	389	799

In [2]:
L3 = a.split() # split() 預設把「空格、Tab(\t)、換行(\n)」作為切割符號，放入 list 內。
print(L3)
f.close()

['679', '69', '191', '510', '73', '815', '182', '583', '96', '153', '450', '109', '107', '443', '371', '140', '136', '242', '206', '236', '378', '993', '802', '131', '428', '94', '169', '572', '201', '687', '30', '53', '519', '58', '247', '891', '727', '934', '441', '518', '94', '942', '587', '389', '799']

In [3]:
L4 = list(open('data3.txt')) # 直接讀取 txt 檔，轉換成 list，以每行當成一個 list 元素。
print(L4)

['679\t69\t191\t510\t73\t815\t182\t583\t96\n', '153\t450\t109\t107\t443\t371\t140\t136\t242\n', '206\t236\t378\t993\t802\t131\t428\t94\t169\n', '572\t201\t687\t30\t53\t519\t58\t247\t891\n', '727\t934\t441\t518\t94\t942\t587\t389\t799\n']

In [4]:
L5 = []
for i in L4:
    L5.extend(i.split()) # 把每行資料以 split() 轉換成 list，並合併至 L5。
print(L5)

['679', '69', '191', '510', '73', '815', '182', '583', '96', '153', '450', '109', '107', '443', '371', '140', '136', '242', '206', '236', '378', '993', '802', '131', '428', '94', '169', '572', '201', '687', '30', '53', '519', '58', '247', '891', '727', '934', '441', '518', '94', '942', '587', '389', '799']

In [5]:
for i in range(0, len(L5)):
    L5[i] = int(L5[i]) # 逐一將資料由文字型態轉換為整數型態
print(L5)

[679, 69, 191, 510, 73, 815, 182, 583, 96, 153, 450, 109, 107, 443, 371, 140, 136, 242, 206, 236, 378, 993, 802, 131, 428, 94, 169, 572, 201, 687, 30, 53, 519, 58, 247, 891, 727, 934, 441, 518, 94, 942, 587, 389, 799]